<div class="global-container">
  <div class="card login-form shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title text-center">Login</h3>
      <div class="card-text">
        <!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
        <form (ngSubmit)="onSubmit()" ngNativeValidate [formGroup]="form">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input name="email" id="email" formControlName="email" class="form-control" placeholder="username@mtn.com"
                type="email" required>
            </div> <!-- input-group.// -->
          </div> <!-- form-group// -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input formControlName="password" pattern=".{6,20}" title="min 6 to 20 characters" name="password"
                class="form-control" placeholder="******" type="password" id="password" required>
            </div> <!-- input-group.// -->
          </div> <!-- form-group// -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary  btn-block"> Login </button>
          </div> <!-- form-group// -->
        </form>
      </div>
    </div>
  </div>
</div>
